html{
    scroll-behavior: smooth;
}


body{
    margin:0 auto;
    /* width: 100vmax; */
    max-width: 1440px;
    /* width: 100%; */
    padding:0;
    font-family: "MONTSERRAT", "Arial", sans-serif;
    font-size: 14px;
    min-height : 100%;
    overflow-x: hidden;
  } 

  /*
    HEADER
  */
  
  /* header{
    display: flex;
    justify-content: center
  }  */

  nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height : 60px;
    background-color: #1e1e1b;
    position: fixed;
    z-index: 100;
    transition: opacity 0.4s ease;
  }

 .imageLogoCarnium{
    display: flex;
    flex-flow: wrap;
    margin: 10px 0px;
  }
 .imageLogoCarnium img{
    cursor: pointer;
    width : 80%;
    height: 80%;
    animation: moveimg2 1s;
    animation-fill-mode: forwards;
  }

  .containerHeader{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
 .menuItem{
    box-sizing: border-box;
    list-style: none;
    padding: 25px 15px 0 15px; 
  }
  .menuItem a{
    transition: color 0.4s ease;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover{
    color: #c21626;
    transition: color 0.4s ease;
  }

  .imageLogoFacebook{
    display: flex;
    margin: 20px -40px 10px 60px ;
  }
  .imageLogoFacebook img{
    width: 70%;
    height: 70%;
  }
  .imageLogoInstagram{
    display: flex;
    margin: 20px 30px 10px -60px ;
  }
  .imageLogoInstagram img{
    width: 70%;
    height: 70%;
  } 

  .imageLogoCarnium img:hover{
    animation: moveimg 1s;
    animation-fill-mode: forwards;
  }
  @keyframes moveimg {
    0%{
        transform: translateX(0px);
        }
      10%{
        transform: translateX(10px);
      }
      20%{
        transform: translateX(0px);
      }
      30%{
        transform: translateX(10px);
      }
      40%{
        transform: translateX(0px);
      }
      50%{
        transform: translateX(10px);
      }
      60%{
        transform: translateX(0px);
      }
      70%{
        transform: translateX(10px);
      }
      80%{
        transform: translateX(0px);
      }
      90%{
        transform: translateX(10px);
      }
      100%{
        transform: translateX(0px);
      }
    
    }
    

/* Slider */

/*
.angleRight::before{
  display: inline-block;
  vertical-align: center;
  font-weight: 900;
  content: "\f105";
  font-family: FontAwesome;
}
.angleLeft::before{
  display: inline-block;
  vertical-align: center;
  font-weight: 900;
  content: "\f104";
  font-family: FontAwesome;
}
*/

/* .container_aceuil{
  margin: 0 auto;
  width: 100%;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
} */

.container_aceuil{
  margin: 0 auto;
  /* width: 100vw; */
  /* min-width: 1024px; */
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#carousel1{
  width: 100%;
}
.item{
  margin: 0px auto;
  width:100%;
  height: 900px;
  transform: translate3d(0, -1px, 0);
  overflow: hidden;
}

.items{
  position: relative
}

.item__image img{
  width: 100%;
  height: 900px;
  display: block;
}
.carousel{
  overflow: hidden;
  position: relative;
}
.carousel__container::after{
  content: '';
  clear: both;
  display: table;
}
.carousel__container{
  transition: transform 0.3s;
  transform: translate3d(0,0,0 )
}
.carousel__item{
  float: left;
}

.carousel__prev{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #FFF url(../images/SVG/left-arrow.svg) center center no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  opacity: .5;
  top: 50%;
  margin-top: -50px;
  left : 20px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
.carousel__next{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #FFF url(../images/SVG/right-arrow.svg) center center no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  opacity: .5;
  top: 50%;
  margin-top: -50px;
  right : 20px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover{
  transform: scale(1.2)
}

.carousel__prev--hidden{
  opacity: 0;
}
.carousel__next--hidden{
  opacity: 0;
}


/* reservation */

.containerResevation{
  position: absolute;
  margin: 0 auto;
  top: 10%;
  right: 42%;
  /* width: auto; */
}
.containerResevation img{
  display: flex;
  margin: 5px auto;
  width: 20%;
  height: 20%;
}
.containerResevation h3, .containerResevation h4{
  margin: 5px auto;
  text-align: center;
  font-size: 2.4em;
  color: #c21626;
}
.containerResevation h4{
  font-size: 2em;

}
.containerResevation a {
  position: absolute;
  width: 180px;
  height: 40px;
  left: 15%;
  padding: 5px;
  background-color: transparent;
  border: solid rgba(193, 22, 38, 1) 2px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s ;
}
.containerResevation a:hover{
  background-color:rgba(193, 22, 38, 1);
  border-color: #1e1e1b;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, transform 0.3s ease 0s ;
  transform: scale(1.2)
}

.containerResevation a span{
  display: flex;
  justify-content: center;
  color: #FFF;
  line-height: 40px;
  font-size: 1.6em;
  transition:color 0.3s ease 0s;
}

.containerResevation a:hover span{
  color:#1e1e1b;
  transition:color 0.4s ease 0s;
}

/* BackGround1 */

.background{
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background: url("../images/image3.jpeg"); 
  background-size: 1440px 900px;
  background-attachment: fixed;
}
.container_first{
  margin: 0 auto; 
  width: 100%;
  height: 600px;
  background-color: #FFF;
}
#menu{
  display: flex;
  flex-wrap: wrap;
}
.h2NotreConcept{
display: flex;
justify-content: center;
margin: 20PX auto;
font-size: 2.6em;
width: 100%;
}
.concept_container1{
  margin: 0 auto;
  width: 33.33%;
  position: relative;
  height: 500px;
}
.concept_container2{
  margin: 0 auto;
  width: 33.33%;
  position: relative;
  height: 500px;
}
.concept_container3{
  margin: 0 auto;
  width: 33.33%;
  position: relative;
  height: 500px;
}
.concept_container1 img, .concept_container2 img, 
.concept_container3 img{
  display: flex;
  margin: 10px auto;
  padding: 0;
  /* margin-left: 90px; */
  width: 30%;
}

.concept_container1 h3, .concept_container2 h3, 
.concept_container3 h3{
  display: flex;
  justify-content: center;
  margin: 15px auto;
  font-size: 2em;
  width: 100%;
  line-height: 1.2em;
}

.concept_container1 p, .concept_container2 p, 
.concept_container3 p{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: justify;
}

.prix_menu1, .prix_menu2, .prix_menu3{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 38%; 
  width: 90px;
  height: 90px;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 50%;
}
.prix_menu1 p, .prix_menu2 p, .prix_menu3 p{
  text-align: center;
  font-size: 1.9em;
}

/* .concept{
  position: absolute;
  top : 0;
  right : 0;
  margin: 0 auto; 
  width: 1440px;
  height: 200px;
  background-color: #FFF;
}

.livraison{
  position: absolute;
  top : 200px;
  right : 0;
  margin: 0 auto; 
  width: 1440px;
  height: 400px;
  background-color: #FFF;
} */

/* BackGround2 */

.background2{
  margin: 0 auto;
  width: 100%;
  height: 1400px;
  background: url("../images/image2.jpeg"); 
  background-size: 1440px 900px;
  background-attachment: fixed;
  position: relative;
}

.container_second{
  margin: 0 auto; 
  width: 100%;
  height: 1200px;
  background-color: #FFF;
} 

#notreHistoire{
  display: flex;
  flex-wrap: wrap;
}

.h2Histoire{
  display: flex;
  justify-content: center;
  margin: 20PX auto;
  font-size: 2.6em;
  width: 100%;
}
hr{
  margin: 20px auto;
  width: 30%;
  height: 0px;
  border: black 2px solid;
}
.pageLeftHistoire{
  width: 50%;
} 
 .imageHistoire{
  margin: 0 auto;
  padding: 0;
  width: 50%;
}
.imageHistoire img{
  margin-left: 90px;
  width: 50%;
}
.pageLeftHistoire p {
  margin: 0 auto;
  width: 50%;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 15px 0;
}

.pageRightHistoire{
  width: 50%;
}

.pageRightHistoire p {
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 15px 0;
  text-align: justify;
}

#NosPartenaires{
  display: flex;
  flex-wrap: wrap;
}

.h2Partenaires{
  display: flex;
  justify-content: center;
  margin: 20PX auto;
  font-size: 2.6em;
  width: 100%;
}

.partenaires_column{
  width: 25%;
  margin: 0 auto;
  padding: 0;

}

.partenaires_column img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.partenaires_column h4{
  text-align: center;
  font-size: 1.6em;
}

.partenaires_column p{
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
  width: 50%;
}
/* 
.Team{
  position: absolute;
  top : 200px;
  right : 0;
  margin: 0 auto; 
  width: 1440px;
  height: 400px;
  background-color: #FFF;
}
*/
/* footer */

a{
  text-decoration: none;
}


footer{
  width : 100%;
  background-color: #E6E7EA;
  position: relative;
}

.PageDown{
  display: flex; 
  justify-content: space-around;
  flex-wrap: nowrap;
  width : 960px;
  margin: 0 auto;
  height: 500px;
}

.info{
  margin-top: -13px;
}

.info p:first-of-type{
  font-size: 30px;
  margin-bottom:10px;
}



.LinkPage ul{
  list-style: none;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.LinkPage ul li{
  margin: 5%;
}



.SocialNetwork img {
  width : 30px;
  height: 30px;
  padding : 5px;
}

.lineV{
  margin-top: 20px;
  height:150px;
  color: black;
  border-right: solid;
  border-right-width: 1px;
}

.lineH{
  position: absolute;
  width: 100%;
  height:1px;
  border-top: solid;
  border-top-color:  black;
  border-top-width: 1px;
  border-bottom: solid; 
  border-bottom-color: black;
  margin-top: 320px;
}

/* PAGE CONTACT*/

/* block de tete */

.head_block{
  position: relative;
  display: flex; 
  justify-content: center;
}

.head_block .head_black{
  height: 300px;
  width: 100%;
  background: black;
}

.head_block h2{
  position: absolute;
  color: crimson;
  margin-top: 110px;
  font-size: 35px;
}

/*titraille*/ 

.head_welcome{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.line_horizon{
  border-top: solid;
  border-top-color: black; 
  width: 370px;
  margin-top: 50px;
  border-top-width: 0.5px;
}

.head_welcome h3{
  font-style: italic;
  font-size: 25px;
  margin-top: 35px;
}


/* design du formulaire */

.form_title h4{
  font-size: 20px;
}

input[type=text], [type=email], [type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#msg{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
  font-size: 13px;
}

.form_title p{
  font-size: 15px;
}

.resa_contain{
  width: 960px; 
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
}

.form_container{
  width: 480px; 
}

.form_title{
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.button{
  display: flex;
  justify-content: center;
  margin: 30px;
}

button{
  height:30px;
  width: 150px;
  border-radius: 15px;
  background-color:black;
  border-color: black;
  color: white;
  transition: color 0.4s ease,  transform 0.4s;
}

button:hover{
  color: red;
  border-radius: 30px;
  transform: scale(1.2);
  transition: color 0.4s ease, transform 0.4s;
}

/* design de la section droite avec les infos */

.info_supp{
  width: 480px; 
}

.resto_data{
  width: 200px;
  padding-left: 130px;
  padding-top: 80px;
}

.open_hour{
  width: 200px;
  padding-left: 130px;
  padding-top: 30px;
}

.open_hour p:last-of-type{
  color: red;
}

/*FIN PAGE CONTACT*/
